.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgb(37, 37, 37);
}

#quiz-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.quizItem {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1 1 calc(50% - 40px); 
  max-width: calc(50% - 40px);
  text-align: center;
  margin-left: 400px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.quizItem:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
.quizImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.quizButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 50%;
  margin-left: 180px;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.quizButton:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}

.QuizDetails {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin-top:100px ;
  margin-left:450px ;
}

.QuizDetails img {
  width: 75%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.answerButton {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.answerButton:hover {
  background-color: #218838;
  transform: scale(1.05); 
}

.answerButton.selected {
  background-color: #3e3e3e;
}

.navigationButtons {
  margin-top: 20px;
}

.nextButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nextButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.submitButton {
  background-color: #8a1604;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #4c0000;
  transform: scale(1.05);
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adding transition for hover effect */
}

.pagination button:hover:not(:disabled) {
  background-color: #cc0000; /* Darker red on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.pagination button:disabled {
  background-color: #686868;
  cursor: not-allowed;
}

.pagination .activePage {
  background-color: #9f0505;
  font-weight: bold; /* Bold font for active page */
  transform: scale(1.1); /* Slightly larger size for active page */
}

.scoreDisplay {
  text-align: center;
  background-color: #a9a9a9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin-top: 200px;
  margin-left: 530px;
}

.returnButton {
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 20px;
}

.returnButton:hover {
  background-color: #575757;
}
.error {
  color: #ff0000;
  margin-top: 10px;
} 